<!DOCTYPE html>
<html lang="en">
<head>
  <title>Google Book Seach </title> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script> 
  <style>
    #loading{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 999;
      text-align: center;
      font-size: 32px;
      color: white;
      padding-top: 40vh;
    }
  </style>
</head>
<body class="container">
  <div id="loading">
    Loading .......
  </div>
  <main>
    <div class="jumbotron">
      <h2>Google Book Seach</h2>
      <div class="row">
        <div class="col-lg-6">
          <form class="form" method="post" action="/search_books_list" onsubmit="event.preventDefault();return searchBooks()">
              <div class="form-group">
                  <label > Search Magazine by title:</label>
                  <input type="text" name="search_query" id="search_query" class="form-control" />
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="searchBooks()">Search</button>
              </div>  
          </form> 
        </div> 
      </div>
      <!-- div to show result of search-->
      <div class="row" style="display:none" id="search_div">
        <table class="table" id="search_results">
          <tr>
            <th>Front Cover</th>
            <th>Description</th>
            <th>Date</th>
            <th>Download</th>
          </tr>
          
        </table>  
      </div>   
    </div> 
  </main>
<script type="text/javascript" >
  //search by title
  function searchBooks(){
    $("#loading").show()
    var params = { search_query: $("#search_query").val() }
    $.post({
      data:params,
      url:'search_books_list',
      success:function(data){
        $('.res_rows').remove()
        for (var i = 0; i < data.length; i++) {
          var res_row = "<tr class='res_rows'> <td> <img  height='100' width='80' src='"+data[i].thumbnail+"' /> </td><td width='300'>"+data[i].description+"</td><td>"+data[i].publishedDate+"</td><td><button type='button' onclick='download_book(/"+data[i].id+"/,/"+data[i].publishedDate+"/)'> Download</button></tr>"
          $("#search_results").append(res_row)
        }
        $("#search_div").show()
        $("#loading").hide()
      }
    })
  }
  //function to download individual book
  function download_book(book_id,date){
    $("#loading").show()
    book_id = book_id.toString().replace(/\//g, '');
    var params = { book_id : book_id,date:date }
    
    $.post({
      data:params,
      url:'download_book',
      success:function(data){
        console.log(data)
        $("#loading").hide()
      }
    })
  }
  //APi KEY
  //AIzaSyAAh1CgFWDLQ13pzsIlAhS4cQTjNVUiBCA
</script>
</body>
</html>